@import '../home/partials/variables';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Lucida, sans-serif !important;

    main {

        #main-top {
            padding-top: 12%;

            .path {
                padding-left: 15px;
                font-size: 12px;

                span {
                    padding-left: 5px;
                    padding-right: 5px;
                }

                a {
                    text-decoration: none;

                    &:nth-child(1) {
                        color: rgba(0, 0, 0, .7);
                        opacity: .4;
                    }

                    &:nth-child(3) {
                        color: rgba(0, 0, 0, .7);
                    }
                }
            }

            .page-topic {
                h3 {
                    color: #000;
                    font-feature-settings: "case" on;
                    font-size: 48px;
                    font-weight: 500;
                    line-height: 60px;
                    letter-spacing: -.96px;
                    margin-top: 24px;
                }
            }

            .news-all {
                margin-top: 30px;

                .news {

                    .card-main {
                        width: 100%;
                        background: linear-gradient(180deg, #edf2fb, rgba(237, 242, 251, 0));
                        width: 100%;
                        max-width: 280px;
                        min-width: 163px;
                        border-radius: 20px;
                        .card-top {
                            width: 100%;
                            display: flex;
                            align-items: start;
                            justify-content: center;
                            max-width: 280px;
                            min-width: 163px;
                            padding-bottom: 40px;
                            border-radius: 20px;
                            position: relative;
                            a {
                                text-decoration: none;
                                width: 100%;
                                display: flex;
                                align-items: start;
                                justify-content: center;
                                height: 144px;
                                img {
                                    width: 100%;
                                    height: 100%;
                                    border-radius:20px;
                                    object-fit: contain;
                                }
                            }

                        }

                        .card-bottom {
                            padding-inline: 15px;

                            .news-name {

                                a {
                                    text-decoration: none;
                                    font-size: 20px;
                                    font-weight: 500;
                                    line-height: 28px;
                                    color: black;
                                    max-width: 160px;
                                }
                            }

                            .news-date {
                                gap: 10px;
                                color: rgba(0, 0, 0, .7);
                                margin-top: 10px;
                                .date {
                                    color: #ccc;
                                    font-size: 16px;
                                }
                            }
                        }

                        .read-more {
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: end;
                            padding: 10px 20px;
                            margin-top: 24px;

                            a {
                                color: $main-color;
                                font-weight: 500;
                                line-height: 20px;
                                letter-spacing: 1.6px;
                                font-size: 16px;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }

            .pagination-part {
                margin-top: 70px;
                width: 100%;
                display: flex;
                justify-content: center;

                .pagination {

                    a {
                        color: black;
                        float: left;
                        padding: 8px 16px;
                        text-decoration: none;
                        transition: all 0.3s;
                        border-radius: 10px;

                        &.active {
                            background-color: black;
                            color: white;
                        }

                        &:hover:not(.active):not(:first-child):not(:last-child) {
                            background-color: black;
                            color: white;
                        }
                    }
                }

            }

        }
    }


@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@media only screen and (max-width: 992px) {
    body {
        .navbar-start {
            gap: 10px !important;

            i {
                font-size: 25px !important;
                color: white;
                display: block !important;
            }
        }

        .navbar-links {
            display: none !important;
        }

        .search-like-basket {
            margin-left: 0px !important;
        }

        #main-top {
            .news-all {
                .row {
                    .news {
                        margin-top: 30px;

                        &:nth-child(1) {
                            margin-top: 0px !important;
                        }

                        &:nth-child(2) {
                            margin-top: 0px !important;
                        }
                    }
                }
            }

        }

}

@media only screen and (max-width: 576px) {
    body {
        .search-like-basket {
            gap: 15px !important;
        }

        .language {
            display: none !important;
        }

        .login {
            padding: 13px 14px 14px 14px;
            background-color: #283ABF;
            border-radius: 25px;

            button {
                display: none;
            }

            i {
                font-size: 20px !important;
                display: block !important;
                color: white;
            }
        }

        #main-top {
            .news-all {

                .news {
                    .card-bottom {
                        padding-inline: 22px !important;

                        .news-name {
                            a {
                                font-size: 14px !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1140px) {
    body {
        .login {
            margin-left: auto;

            button {
                padding: 0px 35px 8px 15px !important;

            }
        }
    }
}

@media only screen and (min-width: 1140px) {
    body {
        .news-all {

            .news {
                margin-top: 40px;

                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4) {
                    margin-top: 0px;
                }
            }
        }
    }
}