@model CategoryCreateVM

<div class="container">
    <form class="user mt-5" method="post" asp-action="Create" enctype="multipart/form-data">
        <div class="form-group">
            <input asp-for="Name" type="text" class="form-control form-control-user" placeholder="Enter category name...">
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
        <button type="submit" class="btn btn-primary btn-user btn-block">
            Submit
        </button>
        <a asp-action="index" class="btn btn-danger btn-user btn-block">
            Cancel
        </a>
        <hr>
    </form>
</div>