@section css {
    <link rel="stylesheet" href="~/assets/css/news/news.css">
}

<main>
    <section id="main-top">
        <div class="container-xxl">
            <div class="path">
                <a href="./home.html">Ana səhifə</a>
                <span> > </span>
                <a href="./consoles.html">Xəbərlər</a>
            </div>
            <div class="page-topic">
                <h3>Xəbərlər</h3>
            </div>

            <div class="news-all">
                <div class="row">
                    <div class="col-lg-3 col-6 news">
                        <div class="card-main">
                            <div class="card-top">
                                <a href="">
                                    <img src="https://cdn.playroom.az/ERAUploads/grids/128/63/playroom_img_9_1728891139.jpg"
                                         alt="">
                                </a>
                            </div>
                            <div class="card-bottom">
                                <div class="news-name">
                                    <a href="">
                                        Media: Tencent Ubisoft-u satın almağı düşünür
                                    </a>
                                </div>
                                <div class="news-date">
                                    <span class="date">October 14, 2024 · 11:31 AM</span>
                                </div>
                            </div>
                            <div class="read-more">
                                <a href="">READ MORE</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6 news">
                        <div class="card-main">
                            <div class="card-top">
                                <a href="">
                                    <img src="https://cdn.playroom.az/ERAUploads/grids/128/63/playroom_img_9_1728891139.jpg"
                                         alt="">
                                </a>
                            </div>
                            <div class="card-bottom">
                                <div class="news-name">
                                    <a href="">
                                        Media: Tencent Ubisoft-u satın almağı düşünür
                                    </a>
                                </div>
                                <div class="news-date">
                                    <span class="date">October 14, 2024 · 11:31 AM</span>
                                </div>
                            </div>
                            <div class="read-more">
                                <a href="">READ MORE</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6 news">
                        <div class="card-main">
                            <div class="card-top">
                                <a href="">
                                    <img src="https://cdn.playroom.az/ERAUploads/grids/128/63/playroom_img_9_1728891139.jpg"
                                         alt="">
                                </a>
                            </div>
                            <div class="card-bottom">
                                <div class="news-name">
                                    <a href="">
                                        Media: Tencent Ubisoft-u satın almağı düşünür
                                    </a>
                                </div>
                                <div class="news-date">
                                    <span class="date">October 14, 2024 · 11:31 AM</span>
                                </div>
                            </div>
                            <div class="read-more">
                                <a href="">READ MORE</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6 news">
                        <div class="card-main">
                            <div class="card-top">
                                <a href="">
                                    <img src="https://cdn.playroom.az/ERAUploads/grids/128/63/playroom_img_9_1728891139.jpg"
                                         alt="">
                                </a>
                            </div>
                            <div class="card-bottom">
                                <div class="news-name">
                                    <a href="">
                                        Media: Tencent Ubisoft-u satın almağı düşünür
                                    </a>
                                </div>
                                <div class="news-date">
                                    <span class="date">October 14, 2024 · 11:31 AM</span>
                                </div>
                            </div>
                            <div class="read-more">
                                <a href="">READ MORE</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6 news">
                        <div class="card-main">
                            <div class="card-top">
                                <a href="">
                                    <img src="https://cdn.playroom.az/ERAUploads/grids/128/63/playroom_img_9_1728891139.jpg"
                                         alt="">
                                </a>
                            </div>
                            <div class="card-bottom">
                                <div class="news-name">
                                    <a href="">
                                        Media: Tencent Ubisoft-u satın almağı düşünür
                                    </a>
                                </div>
                                <div class="news-date">
                                    <span class="date">October 14, 2024 · 11:31 AM</span>
                                </div>
                            </div>
                            <div class="read-more">
                                <a href="">READ MORE</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6 news">
                        <div class="card-main">
                            <div class="card-top">
                                <a href="">
                                    <img src="https://cdn.playroom.az/ERAUploads/grids/128/63/playroom_img_9_1728891139.jpg"
                                         alt="">
                                </a>
                            </div>
                            <div class="card-bottom">
                                <div class="news-name">
                                    <a href="">
                                        Media: Tencent Ubisoft-u satın almağı düşünür
                                    </a>
                                </div>
                                <div class="news-date">
                                    <span class="date">October 14, 2024 · 11:31 AM</span>
                                </div>
                            </div>
                            <div class="read-more">
                                <a href="">READ MORE</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6 news">
                        <div class="card-main">
                            <div class="card-top">
                                <a href="">
                                    <img src="https://cdn.playroom.az/ERAUploads/grids/128/63/playroom_img_9_1728891139.jpg"
                                         alt="">
                                </a>
                            </div>
                            <div class="card-bottom">
                                <div class="news-name">
                                    <a href="">
                                        Media: Tencent Ubisoft-u satın almağı düşünür
                                    </a>
                                </div>
                                <div class="news-date">
                                    <span class="date">October 14, 2024 · 11:31 AM</span>
                                </div>
                            </div>
                            <div class="read-more">
                                <a href="">READ MORE</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6 news">
                        <div class="card-main">
                            <div class="card-top">
                                <a href="">
                                    <img src="https://cdn.playroom.az/ERAUploads/grids/128/63/playroom_img_9_1728891139.jpg"
                                         alt="">
                                </a>
                            </div>
                            <div class="card-bottom">
                                <div class="news-name">
                                    <a href="">
                                        Media: Tencent Ubisoft-u satın almağı düşünür
                                    </a>
                                </div>
                                <div class="news-date">
                                    <span class="date">October 14, 2024 · 11:31 AM</span>
                                </div>
                            </div>
                            <div class="read-more">
                                <a href="">READ MORE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pagination-part">
                <div class="pagination">
                    <a href="#"><i class="fa-solid fa-arrow-left"></i></a>
                    <a href="#">1</a>
                    <a href="#" class="active">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">6</a>
                    <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </section>
</main>

@section js {
    <script src="~/assets/js/news.js"></script>
}
