@model IEnumerable<NewsVM>

@section css {
    <link rel="stylesheet" href="~/assets/css/news/news.css">
}

<main>
    <section id="main-top">
        <div class="container-xxl">
            <div class="path">
                <a asp-controller="Home" asp-action="Index">Ana səhifə</a>
                <span> > </span>
                <span>Xəbərlər</span>>
            </div>
            <div class="page-topic">
                <h3>Xəbərlər</h3>
            </div>

            <div class="news-all">
                <div class="row">
                     <partial name="_NewsPartial" model="@Model" />
                </div>
            </div>

            <div class="pagination-part">
                <button class="btn btn-primary show-more-btn" data-count="@ViewBag.Count">Show more</button>
            </div>

        </div>
    </section>
</main>

@section js {
    <script src="~/assets/js/news.js"></script>
}
