@section css {
    <link rel="stylesheet" href="~/assets/css/gamepads/gamepads.css">
}

<main>
    <section id="main-top">
        <div class="container-xxl">
            <div class="path">
                <a href="./home.html">Ana səhifə</a>
                <span> > </span>
                <a href="./consoles.html">Oyun sükanları</a>
            </div>
            <div class="page-topic">
                <h3>Oyun sükanları</h3>
            </div>
            <div class="product-filters">
                <div class="reset-filter">
                    <span>Filterlər</span>
                    <button>Sıfırla</button>
                </div>
                <div class="filters">
                    <div class="row">
                        <div class="col-xl-2 col-lg-3 col-6 filter">
                            <div class="filter-main category">
                                <span>Kateqoriya</span>
                                <i class="fa-solid fa-chevron-down close" aria-hidden="true"></i>
                                <div class="categories d-none">
                                    <ul>
                                        <li>Playstation</li>
                                        <li>Xbox</li>
                                        <li>Nintendo</li>
                                        <li>Oculus</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-6 filter">
                            <div class="filter-main price-filter">
                                <span>Qiymət aralığı</span>
                                <i class="fa-solid fa-chevron-down close" aria-hidden="true"></i>
                                <div class="prices d-none">
                                    <ul>
                                        <li>0 ₼ - 100 ₼</li>
                                        <li>100 ₼ - 200 ₼</li>
                                        <li>200 ₼ - 300 ₼</li>
                                        <li>300 ₼ - 500 ₼</li>
                                        <li>500 ₼ - 1000 ₼</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 mt-lg-0 mt-4 col-lg-3 col-6 filter">
                            <div class="filter-main type-filter">
                                <span>Növü</span>
                                <i class="fa-solid fa-chevron-down close" aria-hidden="true"></i>
                                <div class="types d-none">
                                    <ul>
                                        <li>Standart Edition</li>
                                        <li>Digital Edition</li>
                                        <li>Black Edition</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-3 mt-lg-0 mt-4 col-6 filter">
                            <div class="filter-main order-filter">
                                <span>Sırala</span>
                                <i class="fa-solid fa-chevron-down close" aria-hidden="true"></i>
                                <div class="orders d-none">
                                    <ul>
                                        <li>Yenilər əvvəlcə</li>
                                        <li>Əvvəlcə ucuz</li>
                                        <li>Əvvəlcə bahalı</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="products">
                <div class="row">
                    <div class="col-lg-3 col-6 product">
                        <div class="card-main">
                            <div class="card-top">
                                <a href="">
                                    <img src="https://cdn.playroom.az/productimg/158/597/playroom_img_23_1730803860.png.webp"
                                         alt="">
                                </a>
                                <div class="new">
                                    <span>YENI</span>
                                </div>
                                <div class="discount">
                                    <span>ENDIRIM</span>
                                </div>
                                <div class="like">
                                    <i class="fa-solid fa-heart"></i>
                                </div>
                            </div>
                            <div class="card-bottom">
                                <div class="game-name">
                                    <a href="">
                                        Call of Duty: Black Ops 6 (PS4)
                                    </a>
                                </div>
                                <div class="game-price mt-4">
                                    <span class="old-price">149 ₼</span>
                                    <span class="price">119 ₼</span>
                                </div>
                            </div>
                            <div class="add-basket">
                                <button>SƏBƏTƏ AT</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6 product">
                        <div class="card-main">
                            <div class="card-top">
                                <a href="">
                                    <img src="https://cdn.playroom.az/productimg/157/627/playroom_img_41_1744119114.jpg.webp"
                                         alt="">
                                </a>
                                <div class="new">
                                    <span>YENI</span>
                                </div>
                                <div class="discount">
                                    <span>ENDIRIM</span>
                                </div>
                                <div class="like">
                                    <i class="fa-solid fa-heart"></i>
                                </div>
                            </div>
                            <div class="card-bottom">
                                <div class="game-name">
                                    <a href="">
                                        Call of Duty: Black Ops 6 (PS4)
                                    </a>
                                </div>
                                <div class="game-price mt-4">
                                    <span class="old-price">149 ₼</span>
                                    <span class="price">119 ₼</span>
                                </div>
                            </div>
                            <div class="add-basket">
                                <button>SƏBƏTƏ AT</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6 product">
                        <div class="card-main">
                            <div class="card-top">
                                <a href="">
                                    <img src="https://cdn.playroom.az/productimg/157/595/playroom_img_30_1730803041.jpg.webp"
                                         alt="">
                                </a>
                                <div class="new">
                                    <span>YENI</span>
                                </div>
                                <div class="discount">
                                    <span>ENDIRIM</span>
                                </div>
                                <div class="like">
                                    <i class="fa-solid fa-heart"></i>
                                </div>
                            </div>
                            <div class="card-bottom">
                                <div class="game-name">
                                    <a href="">
                                        Call of Duty: Black Ops 6 (PS4)
                                    </a>
                                </div>
                                <div class="game-price mt-4">
                                    <span class="old-price">149 ₼</span>
                                    <span class="price">119 ₼</span>
                                </div>
                            </div>
                            <div class="add-basket">
                                <button>SƏBƏTƏ AT</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6 product">
                        <div class="card-main">
                            <div class="card-top">
                                <a href="">
                                    <img src="https://cdn.playroom.az/productimg/157/600/playroom_img_81_1744109859.jpg.webp"
                                         alt="">
                                </a>
                                <div class="new">
                                    <span>YENI</span>
                                </div>
                                <div class="discount">
                                    <span>ENDIRIM</span>
                                </div>
                                <div class="like">
                                    <i class="fa-solid fa-heart"></i>
                                </div>

                            </div>
                            <div class="card-bottom">
                                <div class="game-name">
                                    <a href="">
                                        Call of Duty: Black Ops 6 (PS4)
                                    </a>
                                </div>
                                <div class="game-price mt-4">
                                    <span class="old-price">149 ₼</span>
                                    <span class="price">119 ₼</span>
                                </div>
                            </div>
                            <div class="add-basket">
                                <button>SƏBƏTƏ AT</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6 product">
                        <div class="card-main">
                            <div class="card-top">
                                <a href="">
                                    <img src="https://cdn.playroom.az/productimg/158/597/playroom_img_23_1730803860.png.webp"
                                         alt="">
                                </a>
                                <div class="new">
                                    <span>YENI</span>
                                </div>
                                <div class="discount">
                                    <span>ENDIRIM</span>
                                </div>
                                <div class="like">
                                    <i class="fa-solid fa-heart"></i>
                                </div>
                            </div>
                            <div class="card-bottom">
                                <div class="game-name">
                                    <a href="">
                                        Call of Duty: Black Ops 6 (PS4)
                                    </a>
                                </div>
                                <div class="game-price mt-4">
                                    <span class="old-price">149 ₼</span>
                                    <span class="price">119 ₼</span>
                                </div>
                            </div>
                            <div class="add-basket">
                                <button>SƏBƏTƏ AT</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6 product">
                        <div class="card-main">
                            <div class="card-top">
                                <a href="">
                                    <img src="https://cdn.playroom.az/productimg/157/627/playroom_img_41_1744119114.jpg.webp"
                                         alt="">
                                </a>
                                <div class="new">
                                    <span>YENI</span>
                                </div>
                                <div class="discount">
                                    <span>ENDIRIM</span>
                                </div>
                                <div class="like">
                                    <i class="fa-solid fa-heart"></i>
                                </div>
                            </div>
                            <div class="card-bottom">
                                <div class="game-name">
                                    <a href="">
                                        Call of Duty: Black Ops 6 (PS4)
                                    </a>
                                </div>
                                <div class="game-price mt-4">
                                    <span class="old-price">149 ₼</span>
                                    <span class="price">119 ₼</span>
                                </div>
                            </div>
                            <div class="add-basket">
                                <button>SƏBƏTƏ AT</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6 product">
                        <div class="card-main">
                            <div class="card-top">
                                <a href="">
                                    <img src="https://cdn.playroom.az/productimg/157/595/playroom_img_30_1730803041.jpg.webp"
                                         alt="">
                                </a>
                                <div class="new">
                                    <span>YENI</span>
                                </div>
                                <div class="discount">
                                    <span>ENDIRIM</span>
                                </div>
                                <div class="like">
                                    <i class="fa-solid fa-heart"></i>
                                </div>
                            </div>
                            <div class="card-bottom">
                                <div class="game-name">
                                    <a href="">
                                        Call of Duty: Black Ops 6 (PS4)
                                    </a>
                                </div>
                                <div class="game-price mt-4">
                                    <span class="old-price">149 ₼</span>
                                    <span class="price">119 ₼</span>
                                </div>
                            </div>
                            <div class="add-basket">
                                <button>SƏBƏTƏ AT</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6 product">
                        <div class="card-main">
                            <div class="card-top">
                                <a href="">
                                    <img src="https://cdn.playroom.az/productimg/157/600/playroom_img_81_1744109859.jpg.webp"
                                         alt="">
                                </a>
                                <div class="new">
                                    <span>YENI</span>
                                </div>
                                <div class="discount">
                                    <span>ENDIRIM</span>
                                </div>
                                <div class="like">
                                    <i class="fa-solid fa-heart"></i>
                                </div>

                            </div>
                            <div class="card-bottom">
                                <div class="game-name">
                                    <a href="">
                                        Call of Duty: Black Ops 6 (PS4)
                                    </a>
                                </div>
                                <div class="game-price mt-4">
                                    <span class="old-price">149 ₼</span>
                                    <span class="price">119 ₼</span>
                                </div>
                            </div>
                            <div class="add-basket">
                                <button>SƏBƏTƏ AT</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pagination-part">
                <div class="pagination">
                    <a href="#"><i class="fa-solid fa-arrow-left"></i></a>
                    <a href="#">1</a>
                    <a href="#" class="active">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">6</a>
                    <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </section>
</main>

@section js {
    <script src="~/assets/js/gamepads.js"></script>
}
