@keyframes slideInLeft {
  0% {
    transform: translate3d(-250px, 0, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideOutLeft {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-250px, 0, 0);
    visibility: hidden;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Lucida, sans-serif;
}
body main #main-top {
  padding-top: 12%;
}
body main #main-top .path {
  padding-left: 15px;
  font-size: 16px;
  font-family: Space Grotesk, sans-serif !important;
}
body main #main-top .path span {
  padding-left: 5px;
  padding-right: 5px;
}
body main #main-top .path a {
  text-decoration: none;
}
body main #main-top .path a:nth-child(1) {
  color: rgba(0, 0, 0, 0.7);
  opacity: 0.4;
}
body main #main-top .path a:nth-child(3) {
  color: rgba(0, 0, 0, 0.7);
}
body main #main-top .product-section {
  padding-top: 72px;
}
body main #main-top .product-section .product-images {
  width: 100%;
  height: 400px;
  display: flex;
}
body main #main-top .product-section .product-images .side-images {
  width: 18%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-top: 5px;
}
body main #main-top .product-section .product-images .side-images .image {
  margin-top: 10px;
  background-image: url("../../images/ps5.png");
  overflow: hidden;
  border-radius: 12px;
  cursor: pointer;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  width: 72px;
  height: 68px;
  margin: 0 4.5px;
}
body main #main-top .product-section .product-images .main-image {
  width: 82%;
}
body main #main-top .product-section .product-images .main-image .cover-image {
  background-image: url("../../images/ps5.png");
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}
body main #main-top .product-section .product-info {
  width: 100%;
  height: 400px;
}
body main #main-top .product-section .product-info .stock {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}
body main #main-top .product-section .product-info .product-name {
  margin-top: 20px;
  color: black;
  font-feature-settings: "case" on;
  font-size: 32px;
  font-weight: 400;
  line-height: 36px;
  max-width: 384px;
}
body main #main-top .product-section .product-info .like-product {
  max-width: 140px;
  display: flex;
  gap: 12px;
}
body main #main-top .product-section .product-info .like-product i {
  color: red;
  font-size: 20px;
}
body main #main-top .product-section .product-info .like-product span {
  font-feature-settings: "case" on;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
}
body main #main-top .product-section .product-info .product-desc {
  margin-top: 24px;
  font-feature-settings: "case" on;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  max-width: 384px;
  max-height: 100%;
}
body main #main-top .product-section .product-info .product-desc .stock-count {
  margin-top: 40px;
}
body main #main-top .product-section .product-payment {
  width: 100%;
  height: 400px;
}
body main #main-top .product-section .product-payment .add-to-cart {
  border-radius: 20px;
  background: #edf2fb;
  padding: 24px;
  width: 100%;
}
body main #main-top .product-section .product-payment .add-to-cart p {
  font-size: 36px;
  font-weight: 500;
  line-height: 32px;
}
body main #main-top .product-section .product-payment .add-to-cart .product-count {
  position: relative;
}
body main #main-top .product-section .product-payment .add-to-cart .product-count span {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}
body main #main-top .product-section .product-payment .add-to-cart .product-count .quantity-select {
  display: flex;
  justify-content: center;
}
body main #main-top .product-section .product-payment .add-to-cart .product-count .quantity-select .qty-input {
  border: 1px solid rgb(225, 221, 221);
  max-width: 200px;
  color: #000;
  background: #fff;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 4px;
  transform: scale(1.5);
  margin-top: 20px;
}
body main #main-top .product-section .product-payment .add-to-cart .product-count .quantity-select .qty-input .product-qty,
body main #main-top .product-section .product-payment .add-to-cart .product-count .quantity-select .qty-input .qty-count {
  background: transparent;
  color: inherit;
  font-weight: bold;
  font-size: inherit;
  border: none;
  display: inline-block;
  min-width: 0;
  height: 2.1rem;
  line-height: 1;
}
body main #main-top .product-section .product-payment .add-to-cart .product-count .quantity-select .qty-input .product-qty:focus,
body main #main-top .product-section .product-payment .add-to-cart .product-count .quantity-select .qty-input .qty-count:focus {
  outline: none;
}
body main #main-top .product-section .product-payment .add-to-cart .product-count .quantity-select .qty-input .product-qty {
  width: 120px;
  text-align: center;
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
body main #main-top .product-section .product-payment .add-to-cart .product-count .quantity-select .qty-input .product-qty::-webkit-outer-spin-button, body main #main-top .product-section .product-payment .add-to-cart .product-count .quantity-select .qty-input .product-qty::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}
body main #main-top .product-section .product-payment .add-to-cart .product-count .quantity-select .qty-input .qty-count {
  padding: 0;
  cursor: pointer;
  width: 2.5rem;
  font-size: 1.25em;
  text-indent: -100px;
  overflow: hidden;
  position: relative;
}
body main #main-top .product-section .product-payment .add-to-cart .product-count .quantity-select .qty-input .qty-count:before, body main #main-top .product-section .product-payment .add-to-cart .product-count .quantity-select .qty-input .qty-count:after {
  content: "";
  height: 2px;
  width: 10px;
  position: absolute;
  display: block;
  background: #000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
body main #main-top .product-section .product-payment .add-to-cart .product-count .quantity-select .qty-input .qty-count--minus {
  border-right: 1px solid #e2e2e2;
}
body main #main-top .product-section .product-payment .add-to-cart .product-count .quantity-select .qty-input .qty-count--add {
  border-left: 1px solid #e2e2e2;
}
body main #main-top .product-section .product-payment .add-to-cart .product-count .quantity-select .qty-input .qty-count--add:after {
  transform: rotate(90deg);
}
body main #main-top .product-section .product-payment .add-to-cart .product-count .quantity-select .qty-input .qty-count:disabled {
  color: #ccc;
  background: #f2f2f2;
  cursor: not-allowed;
  border-color: transparent;
}
body main #main-top .product-section .product-payment .add-to-cart .product-count .quantity-select .qty-input .qty-count:disabled:before, body main #main-top .product-section .product-payment .add-to-cart .product-count .quantity-select .qty-input .qty-count:disabled:after {
  background: #ccc;
}
body main #main-top .product-section .product-payment .add-to-cart .product-count .add-basket {
  margin-top: 30px;
}
body main #main-top .product-section .product-payment .add-to-cart .product-count .add-basket button {
  width: 100%;
  height: 51px;
  padding-inline: 20px;
  padding-block: 16px;
  color: #fff;
  background-color: #4361ee;
  border: none;
  border-radius: 12px;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@media only screen and (max-width: 992px) {
  body .navbar-start {
    gap: 10px !important;
  }
  body .navbar-start i {
    font-size: 25px !important;
    color: white;
    display: block !important;
  }
  body .navbar-links {
    display: none !important;
  }
  body .search-like-basket {
    margin-left: 0px !important;
  }
}
@media only screen and (max-width: 576px) {
  body .search-like-basket {
    gap: 15px !important;
  }
  body .language {
    display: none !important;
  }
  body .login {
    padding: 13px 14px 14px 14px;
    background-color: #283ABF;
    border-radius: 25px;
  }
  body .login button {
    display: none;
  }
  body .login i {
    font-size: 20px !important;
    display: block !important;
    color: white;
  }
}
@media only screen and (max-width: 1140px) {
  body .login {
    margin-left: auto;
  }
  body .login button {
    padding: 0px 35px 8px 15px !important;
  }
}
@media only screen and (min-width: 1200px) {
  body .col-xl-custom {
    width: 29%;
    flex: 0 0 auto;
  }
}/*# sourceMappingURL=productDetail.css.map */