@keyframes slideInLeft {
  0% {
    transform: translate3d(-250px, 0, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
a{
    text-decoration:none;
    color:black;
}
@keyframes slideOutLeft {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-250px, 0, 0);
    visibility: hidden;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Lucida, sans-serif !important;
}
body main #main-top {
  padding-top: 12%;
}
body main #main-top .path {
  padding-left: 15px;
  font-size: 12px;
}
body main #main-top .path span {
  padding-left: 5px;
  padding-right: 5px;
}
body main #main-top .path a {
  text-decoration: none;
}
body main #main-top .path a:nth-child(1) {
  color: rgba(0, 0, 0, 0.7);
  opacity: 0.4;
}
body main #main-top .path a:nth-child(3) {
  color: rgba(0, 0, 0, 0.7);
}
body main #main-top .page-topic h3 {
  color: #000;
  font-feature-settings: "case" on;
  font-size: 48px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: -0.96px;
  margin-top: 24px;
}
body main #main-top .product-filters .reset-filter {
  margin-top: 40px;
  padding-left: 15px;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  gap: 16px;
}
body main #main-top .product-filters .reset-filter button {
  color: rgba(0, 0, 0, 0.4);
  font-size: 12px;
  border-radius: 20px;
  padding-inline: 12px;
  background-color: inherit;
  border: 1px solid #ccc;
}
body main #main-top .product-filters .filters {
  margin-top: 20px;
}
body main #main-top .product-filters .filters .filter {
  display: flex;
  justify-content: end;
}
body main #main-top .product-filters .filters .filter .filter-main {
  width: 175px;
  height: 36px;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 10px;
  position: relative;
  cursor: pointer;
}
body main #main-top .product-filters .filters .filter .filter-main .categories {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: absolute;
  top: 40px;
  left: 0px;
  z-index: 1;
  background-color: white;
  font-size: 14px;
  border-radius: 10px;
}
body main #main-top .product-filters .filters .filter .filter-main .categories ul {
  padding: 3px 0px 5px 0px;
  line-height: 30px;
  margin-bottom: 0px !important;
}
body main #main-top .product-filters .filters .filter .filter-main .categories ul li {
  color: rgba(0, 0, 0, 0.88);
  list-style: none;
  width: 165px;
  border-radius: 3px;
  padding-left: 15px;
  cursor: pointer;
}
body main #main-top .product-filters .filters .filter .filter-main .categories ul li:hover {
  background-color: rgba(243, 239, 239, 0.4);
}
body main #main-top .product-filters .filters .filter .filter-main span {
  color: black;
  font-weight: 500;
}
body main #main-top .product-filters .filters .filter .filter-main i {
  margin-left: auto;
  padding-right: 10px;
  color: rgba(0, 0, 0, 0.7);
}
body main #main-top .product-filters .filters .filter .price-filter {
  position: relative;
}
body main #main-top .product-filters .filters .filter .price-filter .prices {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: absolute;
  top: 40px;
  left: 0px;
  z-index: 1;
  background-color: white;
  font-size: 14px;
  border-radius: 10px;
}
body main #main-top .product-filters .filters .filter .price-filter .prices ul {
  padding: 3px 0px 5px 0px;
  line-height: 30px;
  margin-bottom: 0px !important;
}
body main #main-top .product-filters .filters .filter .price-filter .prices ul li {
  color: rgba(0, 0, 0, 0.88);
  list-style: none;
  width: 165px;
  border-radius: 3px;
  padding-left: 15px;
  cursor: pointer;
}
body main #main-top .product-filters .filters .filter .price-filter .prices ul li:hover {
  background-color: rgba(243, 239, 239, 0.4);
}
body main #main-top .product-filters .filters .filter .type-filter .types {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: absolute;
  top: 40px;
  left: 0px;
  z-index: 1;
  background-color: white;
  font-size: 14px;
  border-radius: 10px;
}
body main #main-top .product-filters .filters .filter .type-filter .types ul {
  padding: 3px 0px 5px 0px;
  line-height: 30px;
  margin-bottom: 0px !important;
}
body main #main-top .product-filters .filters .filter .type-filter .types ul li {
  color: rgba(0, 0, 0, 0.88);
  list-style: none;
  width: 165px;
  border-radius: 3px;
  padding-left: 15px;
  cursor: pointer;
}
body main #main-top .product-filters .filters .filter .type-filter .types ul li:hover {
  background-color: rgba(243, 239, 239, 0.4);
}
body main #main-top .product-filters .filters .filter .order-filter .orders {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: absolute;
  top: 40px;
  left: 0px;
  z-index: 1;
  background-color: white;
  font-size: 14px;
  border-radius: 10px;
}
body main #main-top .product-filters .filters .filter .order-filter .orders ul {
  padding: 3px 0px 5px 0px;
  line-height: 30px;
  margin-bottom: 0px !important;
}
body main #main-top .product-filters .filters .filter .order-filter .orders ul li {
  color: rgba(0, 0, 0, 0.88);
  list-style: none;
  width: 165px;
  border-radius: 3px;
  padding-left: 15px;
  cursor: pointer;
}
body main #main-top .product-filters .filters .filter .order-filter .orders ul li:hover {
  background-color: rgba(243, 239, 239, 0.4);
}
body main #main-top .products {
  margin-top: 30px;
}
body main #main-top .products .product .card-main {
  width: 100%;
  height: 460px;
  background: linear-gradient(180deg, rgba(237, 242, 251, 0), #edf2fb);
  width: 100%;
  max-width: 280px;
  min-width: 163px;
  border-radius: 20px;
}
body main #main-top .products .product .card-main .card-top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 280px;
  min-width: 163px;
  height: 270px;
  border-radius: 20px;
  padding-top: 32px;
  position: relative;
}
body main #main-top .products .product .card-main .card-top a {
  text-decoration: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main #main-top .products .product .card-main .card-top a img {
  width: 70%;
  max-width: 172px;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
body main #main-top .products .product .card-main .card-top .new {
  background-color: #4361ee;
  top: 168px;
  left: 0px;
  position: absolute;
  color: white;
  padding: 3px 20px 3px 15px;
  font-size: 14px;
}
body main #main-top .products .product .card-main .card-top .discount {
  position: absolute;
  top: 200px;
  left: 0px;
  background-color: #35bd4b;
  color: white;
  padding: 3px 20px 3px 15px;
  font-size: 14px;
}
body main #main-top .products .product .card-main .card-top .like {
  top: 190px;
  right: 15px;
  position: absolute;
  color: gray;
  font-size: 22px;
  cursor: pointer;
}
body main #main-top .products .product .card-main .card-bottom {
  padding-inline: 32px;
}
body main #main-top .products .product .card-main .card-bottom .game-name {
  max-height: 56px !important;
}
body main #main-top .products .product .card-main .card-bottom .game-name a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.7);
  max-width: 160px;
}
body main #main-top .products .product .card-main .card-bottom .game-price {
  display: flex;
  justify-content: end;
  gap: 10px;
  color: rgba(0, 0, 0, 0.7);
}
body main #main-top .products .product .card-main .card-bottom .game-price .old-price {
  font-weight: 500;
  line-height: 32px;
  opacity: 0.7;
  font-size: 16px;
  text-decoration: line-through;
}
body main #main-top .products .product .card-main .card-bottom .game-price .price {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}
body main #main-top .products .product .card-main .add-basket {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 16px 20px;
  margin-top: 24px;
}
body main #main-top .products .product .card-main .add-basket button {
  border: none;
  background: none;
  color: #4361ee;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 1.6px;
  font-size: 16px;
}
body main #main-top .pagination-part {
  margin-top: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
}
body main #main-top .pagination-part .pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: all 0.3s;
  border-radius: 10px;
}
body main #main-top .pagination-part .pagination a.active {
  background-color: black;
  color: white;
}
body main #main-top .pagination-part .pagination a:hover:not(.active):not(:first-child):not(:last-child) {
  background-color: black;
  color: white;
}
@media only screen and (max-width: 992px) {
  body .navbar-start {
    gap: 10px !important;
  }
  body .navbar-start i {
    font-size: 25px !important;
    color: white;
    display: block !important;
  }
  body .navbar-links {
    display: none !important;
  }
  body .search-like-basket {
    margin-left: 0px !important;
  }
  body #main-top .products .row .product {
    margin-top: 30px;
  }
  body #main-top .products .row .product:nth-child(1) {
    margin-top: 0px !important;
  }
  body #main-top .products .row .product:nth-child(2) {
    margin-top: 0px !important;
  }
  body #main-top .filters {
    margin-top: 20px;
  }
  body #main-top .filters .filter {
    display: flex;
    justify-content: center !important;
  }
}
@media only screen and (max-width: 576px) {
  body .search-like-basket {
    gap: 15px !important;
  }
  body .language {
    display: none !important;
  }
  body .login {
    padding: 13px 14px 14px 14px;
    background-color: #283ABF;
    border-radius: 25px;
  }
  body .login button {
    display: none;
  }
  body .login i {
    font-size: 20px !important;
    display: block !important;
    color: white;
  }
  body #main-top .products .product .card-bottom {
    padding-inline: 22px !important;
  }
  body #main-top .products .product .card-bottom .game-name a {
    font-size: 14px !important;
  }
}
@media only screen and (max-width: 1140px) {
  body .login {
    margin-left: auto;
  }
  body .login button {
    padding: 0px 35px 8px 15px !important;
  }
}
@media only screen and (min-width: 1140px) {
  body .products .product {
    margin-top: 40px;
  }
  body .products .product:nth-child(1), body .products .product:nth-child(2), body .products .product:nth-child(3), body .products .product:nth-child(4) {
    margin-top: 0px;
  }
}/*# sourceMappingURL=console.css.map */