@import '../home/partials/variables';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Lucida, sans-serif !important;
    main {

        #register-section {
            padding-top: 12%;

            .backround-part {
                .backround-image {
                    background-image: url('https://playroom.az/_next/static/media/login_bg.4f2fd185.png');
                    width: 100%;
                    height: 748px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: 50%;
                }
            }

            .register-part {
                padding-inline: 104px;
                min-width: 384px !important;

                .register {
                    .form-header {
                        h3 {
                            font-size: 36px;
                            font-weight: 600;
                            line-height: 48px;
                        }
                    }

                    .register-form {
                        margin-top: 32px;
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        width: 100%;

                        .register-input {
                            display: flex;
                            flex-direction: column;
                            gap: 12px;

                            label {
                                font-size: 14px;
                                font-weight: 500;
                                line-height: 24px;
                                margin: 0;
                                color: rgba(0, 0, 0, .7);
                            }

                            input {
                                border-radius: 12px;
                                border: 1px solid #ccc;
                                background: #fff;
                                padding: 20px 24px;
                                outline: none;
                                transition: border-color .2s ease, color .2s ease;
                                color: rgba(0, 0, 0, .7);
                                font-size: 16px;
                                font-weight: 500;
                                line-height: 24px;
                                height: 51px;
                            }
                        }

                        .submit-btn {
                            width: 100%;
                            height: 51px;
                            padding-inline: 20px;
                            padding-block: 16px;
                            color: #fff;
                            background-color: $main-color;
                            border: none;
                            border-radius: 12px;
                            font-size: 15px;
                            font-weight: 600;
                        }

                        p {
                            display: flex;
                            justify-content: center;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 20px;

                            a {
                                margin-left: 5px;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }


@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@media only screen and (max-width: 992px) {
    body {

        .navbar-links {
            display: none !important;
        }

        .search-like-basket {
            margin-left: 0px !important;
        }


    }
}

@media only screen and (max-width: 576px) {
    body {


        .login {
            padding: 13px 14px 14px 14px;
            background-color: #283ABF;
            border-radius: 25px;

            button {
                display: none;
            }

            i {
                font-size: 20px !important;
                display: block !important;
                color: white;
            }
        }

    }
}

@media only screen and (max-width: 1140px) {
    body {
        .login {
            margin-left: auto;

            button {
                padding: 0px 35px 8px 15px !important;

            }
        }
    }
}
