@section css {
    <link rel="stylesheet" href="~/assets/css/favorites/favorites.css">
}


<main>
    <section id="main-top">
        <div class="container-xxl">
            <div class="path">
                <a href="./home.html">Ana səhifə</a>
                <span> > </span>
                <a href="./consoles.html">Favoritlər</a>
            </div>
            <div class="page-topic">
                <h3>Favoritlər</h3>
            </div>

            <div class="products">
                <div class="row">
                    <div class="col-lg-3 col-6 product">
                        <div class="card-main">
                            <div class="card-top">
                                <a href="">
                                    <img src="https://cdn.playroom.az/productimg/158/597/playroom_img_23_1730803860.png.webp"
                                         alt="">
                                </a>
                                <div class="new">
                                    <span>YENI</span>
                                </div>
                                <div class="discount">
                                    <span>ENDIRIM</span>
                                </div>
                                <div class="like">
                                    <i class="fa-solid fa-heart"></i>
                                </div>
                            </div>
                            <div class="card-bottom">
                                <div class="game-name">
                                    <a href="">
                                        Call of Duty: Black Ops 6 (PS4)
                                    </a>
                                </div>
                                <div class="game-price mt-4">
                                    <span class="old-price">149 ₼</span>
                                    <span class="price">119 ₼</span>
                                </div>
                            </div>
                            <div class="add-basket">
                                <button>SƏBƏTƏ AT</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6 product">
                        <div class="card-main">
                            <div class="card-top">
                                <a href="">
                                    <img src="https://cdn.playroom.az/productimg/157/627/playroom_img_41_1744119114.jpg.webp"
                                         alt="">
                                </a>
                                <div class="new">
                                    <span>YENI</span>
                                </div>
                                <div class="discount">
                                    <span>ENDIRIM</span>
                                </div>
                                <div class="like">
                                    <i class="fa-solid fa-heart"></i>
                                </div>
                            </div>
                            <div class="card-bottom">
                                <div class="game-name">
                                    <a href="">
                                        Call of Duty: Black Ops 6 (PS4)
                                    </a>
                                </div>
                                <div class="game-price mt-4">
                                    <span class="old-price">149 ₼</span>
                                    <span class="price">119 ₼</span>
                                </div>
                            </div>
                            <div class="add-basket">
                                <button>SƏBƏTƏ AT</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6 product">
                        <div class="card-main">
                            <div class="card-top">
                                <a href="">
                                    <img src="https://cdn.playroom.az/productimg/157/595/playroom_img_30_1730803041.jpg.webp"
                                         alt="">
                                </a>
                                <div class="new">
                                    <span>YENI</span>
                                </div>
                                <div class="discount">
                                    <span>ENDIRIM</span>
                                </div>
                                <div class="like">
                                    <i class="fa-solid fa-heart"></i>
                                </div>
                            </div>
                            <div class="card-bottom">
                                <div class="game-name">
                                    <a href="">
                                        Call of Duty: Black Ops 6 (PS4)
                                    </a>
                                </div>
                                <div class="game-price mt-4">
                                    <span class="old-price">149 ₼</span>
                                    <span class="price">119 ₼</span>
                                </div>
                            </div>
                            <div class="add-basket">
                                <button>SƏBƏTƏ AT</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6 product">
                        <div class="card-main">
                            <div class="card-top">
                                <a href="">
                                    <img src="https://cdn.playroom.az/productimg/157/600/playroom_img_81_1744109859.jpg.webp"
                                         alt="">
                                </a>
                                <div class="new">
                                    <span>YENI</span>
                                </div>
                                <div class="discount">
                                    <span>ENDIRIM</span>
                                </div>
                                <div class="like">
                                    <i class="fa-solid fa-heart"></i>
                                </div>

                            </div>
                            <div class="card-bottom">
                                <div class="game-name">
                                    <a href="">
                                        Call of Duty: Black Ops 6 (PS4)
                                    </a>
                                </div>
                                <div class="game-price mt-4">
                                    <span class="old-price">149 ₼</span>
                                    <span class="price">119 ₼</span>
                                </div>
                            </div>
                            <div class="add-basket">
                                <button>SƏBƏTƏ AT</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6 product">
                        <div class="card-main">
                            <div class="card-top">
                                <a href="">
                                    <img src="https://cdn.playroom.az/productimg/158/597/playroom_img_23_1730803860.png.webp"
                                         alt="">
                                </a>
                                <div class="new">
                                    <span>YENI</span>
                                </div>
                                <div class="discount">
                                    <span>ENDIRIM</span>
                                </div>
                                <div class="like">
                                    <i class="fa-solid fa-heart"></i>
                                </div>
                            </div>
                            <div class="card-bottom">
                                <div class="game-name">
                                    <a href="">
                                        Call of Duty: Black Ops 6 (PS4)
                                    </a>
                                </div>
                                <div class="game-price mt-4">
                                    <span class="old-price">149 ₼</span>
                                    <span class="price">119 ₼</span>
                                </div>
                            </div>
                            <div class="add-basket">
                                <button>SƏBƏTƏ AT</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6 product">
                        <div class="card-main">
                            <div class="card-top">
                                <a href="">
                                    <img src="https://cdn.playroom.az/productimg/157/627/playroom_img_41_1744119114.jpg.webp"
                                         alt="">
                                </a>
                                <div class="new">
                                    <span>YENI</span>
                                </div>
                                <div class="discount">
                                    <span>ENDIRIM</span>
                                </div>
                                <div class="like">
                                    <i class="fa-solid fa-heart"></i>
                                </div>
                            </div>
                            <div class="card-bottom">
                                <div class="game-name">
                                    <a href="">
                                        Call of Duty: Black Ops 6 (PS4)
                                    </a>
                                </div>
                                <div class="game-price mt-4">
                                    <span class="old-price">149 ₼</span>
                                    <span class="price">119 ₼</span>
                                </div>
                            </div>
                            <div class="add-basket">
                                <button>SƏBƏTƏ AT</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6 product">
                        <div class="card-main">
                            <div class="card-top">
                                <a href="">
                                    <img src="https://cdn.playroom.az/productimg/157/595/playroom_img_30_1730803041.jpg.webp"
                                         alt="">
                                </a>
                                <div class="new">
                                    <span>YENI</span>
                                </div>
                                <div class="discount">
                                    <span>ENDIRIM</span>
                                </div>
                                <div class="like">
                                    <i class="fa-solid fa-heart"></i>
                                </div>
                            </div>
                            <div class="card-bottom">
                                <div class="game-name">
                                    <a href="">
                                        Call of Duty: Black Ops 6 (PS4)
                                    </a>
                                </div>
                                <div class="game-price mt-4">
                                    <span class="old-price">149 ₼</span>
                                    <span class="price">119 ₼</span>
                                </div>
                            </div>
                            <div class="add-basket">
                                <button>SƏBƏTƏ AT</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6 product">
                        <div class="card-main">
                            <div class="card-top">
                                <a href="">
                                    <img src="https://cdn.playroom.az/productimg/157/600/playroom_img_81_1744109859.jpg.webp"
                                         alt="">
                                </a>
                                <div class="new">
                                    <span>YENI</span>
                                </div>
                                <div class="discount">
                                    <span>ENDIRIM</span>
                                </div>
                                <div class="like">
                                    <i class="fa-solid fa-heart"></i>
                                </div>

                            </div>
                            <div class="card-bottom">
                                <div class="game-name">
                                    <a href="">
                                        Call of Duty: Black Ops 6 (PS4)
                                    </a>
                                </div>
                                <div class="game-price mt-4">
                                    <span class="old-price">149 ₼</span>
                                    <span class="price">119 ₼</span>
                                </div>
                            </div>
                            <div class="add-basket">
                                <button>SƏBƏTƏ AT</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pagination-part">
                <div class="pagination">
                    <a href="#"><i class="fa-solid fa-arrow-left"></i></a>
                    <a href="#">1</a>
                    <a href="#" class="active">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">6</a>
                    <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </section>
</main>