@model LoginVM

@section css {
    <link rel="stylesheet" href="~/assets/css/register/register.css">
}
<main>
    <section id="register-section">
        <div class="container-xxl">
            <div class="row">
                <div class="col-lg-6 d-none d-lg-block backround-part">
                    <div class="backround-image">
                    </div>
                </div>
                <div class="col-lg-6 col-12 register-part">
                    <div class="register">
                        <div class="form-header">
                            <h3>Daxik ol</h3>
                        </div>
                        <form asp-controller="Account" asp-action="login" method="post" class="register-form">
                            <div class="text-danger" asp-validation-summary="All"></div>
                            <div class="register-input">
                                <label asp-for="UsernameOrEmail">İstifadəçi adı ve ya email</label>
                                <input asp-for="UsernameOrEmail">
                            </div>

                            <div class="register-input">
                                <label asp-for="Password">Şifrə</label>
                                <input asp-for="Password">
                            </div>
                            <a asp-action="ForgotPassword" style="text-decoration:none;">Şifrəmi unutdum</a>
                            <button type="submit" class="submit-btn">Daxil olun</button>
                            <p>Hesabın yoxdu? <a asp-action="Register">Qeydiyyatdan keç</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>