@model RegisterVM

@section css {
    <link rel="stylesheet" href="~/assets/css/register/register.css">
}
 <main>
        <section id="register-section">
            <div class="container-xxl">
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block backround-part">
                        <div class="backround-image">

                        </div>
                    </div>
                    <div class="col-lg-6 col-12 register-part">
                        <div class="register">
                            <div class="form-header">
                                <h3>Daxil ol</h3>
                            </div>
                            <form asp-controller="Account" asp-action="Register" method="post" class="register-form">
                                <div class="text-danger" asp-validation-summary="All"></div>
                                <div class="register-input">
                                    <label asp-for="FullName">Ad soyad</label>
                                    <input asp-for="FullName">
                                </div>
                            <div class="register-input">
                                <label asp-for="Username">İstifadəçi adı</label>
                                <input asp-for="Username">
                            </div>
                                <div class="register-input">
                                    <label asp-for="Email">Email</label>
                                     <input asp-for="Email">
                                </div>
                                <div class="register-input">
                                    <label asp-for="PhoneNumber">Telefon</label>
                                <input asp-for="PhoneNumber">
                                </div>
                                <div class="register-input">
                                    <label asp-for="City">Şəhər</label>
                                    <input asp-for="City">
                                </div>
                                <div class="register-input">
                                <label asp-for="Address">Adres</label>
                                <input asp-for="Address">
                                </div>
                                <div class="register-input">
                                    <label asp-for="Password">Şifrə</label>
                                    <input asp-for="Password">
                                </div>
                                <div class="register-input">
                                    <label asp-for="ConfirmPassword">Şifrənin təkrarı</label>
                                    <input asp-for="ConfirmPassword">
                                </div>
                                <button type="submit" class="submit-btn">Qeydiyyatdan keç</button>
                                <p>Hesabın var? <a asp-action="Login">Daxil olun</a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>