@model ResetPasswordVM

@section css {
    <link rel="stylesheet" href="~/assets/css/register/register.css">
}
<main>
    <section id="register-section">
        <div class="container-xxl">
            <div class="row">
                <div class="col-lg-6 d-none d-lg-block backround-part">
                    <div class="backround-image">
                    </div>
                </div>
                <div class="col-lg-6 col-12 register-part">
                    <div class="register">
                        <div class="form-header">
                            <h3>Qeydiyyatdan keç</h3>
                        </div>
                        <form asp-controller="Account" asp-action="ResetPassword" method="post" class="register-form">
                            @Html.HiddenFor(m => m.UserId)
                            @Html.HiddenFor(m => m.Token)
                            <div class="text-danger" asp-validation-summary="All"></div>

                            <div class="register-input">
                                <label asp-for="NewPassword">Şifrə</label>
                                <input asp-for="NewPassword">
                            </div>
                            <div class="register-input">
                                <label asp-for="ConfirmPassword">Şifrənin təkrarı</label>
                                <input asp-for="ConfirmPassword">
                            </div>
                            <button type="submit" class="submit-btn">Daxil olun</button>
                            <p>Hesabın yoxdu? <a asp-action="Register">Qeydiyyatdan keç</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>