

@section css {
    <link rel="stylesheet" href="~/assets/css/register/register.css">
}
<main>
    <section id="register-section">
        <div class="container-xxl">
            <div class="alert alert-warning" role="alert">
                Please check your email!
            </div>
        </div>
    </section>
</main>