@model SpecialGameBannerUpdateVM

<div class="container">
    <img src="~/assets/images/@Model.Image" style="width:330px;height:200px" />
    <div class="active-or-not" data-id="@Model.Id">
        @if (Model.IsActive == false)
        {
            <button class="mt-3 d-block btn btn-danger set-active-btn">Set active</button>
        }
        else
        {
            <div style="width: 90px; background-color: limegreen; color: white; border-radius: 7px; padding: 5px 0px 5px 20px;" class="mt-3 d-block ">Active</div>
        }
    </div>

    <form class="user mt-5" method="post" asp-action="Update" enctype="multipart/form-data">
        @* <div class="text-danger" asp-validation-summary="All"></div> *@
        <div class="form-group">
            <input asp-for="Name" class="form-control form-control-user" placeholder="Enter name...">
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
            <input asp-for="Description" class="form-control form-control-user" placeholder="Enter description...">
            <span class="text-danger" asp-validation-for="Description"></span>
        </div>
        <div class="form-group">
            <label asp-for="NewImage">Choose Image</label>
            <input asp-for="NewImage" class="form-control-file" />
            <span class="text-danger" asp-validation-for="NewImage"></span>
        </div>
        <button type="submit" class="btn btn-primary btn-user btn-block">
            Submit
        </button>
        <a asp-action="index" class="btn btn-danger btn-user btn-block">
            Cancel
        </a>
        <hr>
    </form>
</div>

@section js {
    <script src="~/admin/js/Custom.js"></script>
}