@model CompanyUpdateVM

<div class="container">
    <img src="~/assets/images/companies/@Model.Image" style="width:330px;height:200px" />

    <form class="user mt-5" method="post" asp-action="Update" enctype="multipart/form-data">
        @* <div class="text-danger" asp-validation-summary="All"></div> *@
        <div class="form-group">
            <input asp-for="Name" class="form-control form-control-user" placeholder="Enter name...">
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
            <label asp-for="UploadImage">Choose Image</label>
            <input asp-for="UploadImage" class="form-control-file" />
            <span class="text-danger" asp-validation-for="UploadImage"></span>
        </div>
        <button type="submit" class="btn btn-primary btn-user btn-block">
            Submit
        </button>
        <a asp-action="index" class="btn btn-danger btn-user btn-block">
            Cancel
        </a>
        <hr>
    </form>
</div>

@section js {
        <script src="~/admin/js/Custom.js"></script>
}